<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demo.comentoStatistic.dao.StatisticMapper">

    <select id="selectYearLogin" parameterType="LoginCountDto" resultType="LoginCountDto">
        select #{year} as year, count(*) as totCnt
        from statistic.request_info ri
        where concat('20', left(ri.create_date, 2)) = #{year};
    </select>


    <select id="selectYearMonthLogin" parameterType="LoginCountDto" resultType="LoginCountDto">
        select
            #{year} as year,
            #{month} as month,
            count(*) as totCnt
        from statistic.request_info ri
        where concat('20', left(ri.create_date, 4)) = concat(#{year}, #{month});
    </select>


    <select id="selectYearMonthDayLogin" parameterType="LoginCountDto" resultType="LoginCountDto">
        select
            #{year} as year,
            #{month} as month,
            #{day} as day,
            count(*) as totCnt
        from statistic.request_info ri
        where concat('20', left(ri.create_date, 6)) =  concat(#{year}, #{month}, #{day});
    </select>

    <select id="selectMonthByDepartmentLogin" parameterType="string" resultType="MonthByDepartmentDto">
        select
            hr_organ as department,
            concat('20', #{yearMonth}) as yearMonth,
            count(#{yearMonth}) as totCnt
        from request_info ri join user
                                  on ri.user_id = user.user_id
        where hr_organ = #{department} and left(ri.create_date, 4) = #{yearMonth};
    </select>

    <select id="selectDayAverageLogin" parameterType="string" resultType="DayAverageCountDto">
        select
            count(*) as totCnt,
            count(distinct left(create_date, 6)) as totDay,
            round(count(*) * 1.0 / count(distinct left(create_date, 6)), 2) as dayAverage
        from statistic.request_info ri;
    </select>

    <select id="selectNonRestdayLogin" parameterType="string" resultType="NonRestdayCountDto">
        select
            #{fromDate} as fromDate,
            #{toDate} as toDate,
            count(*) as originCnt,
            count(case
                when rd.locdate is not null
                         or dayofweek(str_to_date(ri.create_date, '%y%m%d%H%i')) in (1, 7)
                    then 1 end) as restCnt,
            count(case
                when rd.locdate is null
                         and dayofweek(str_to_date(create_date, '%y%m%d%H%i')) not in (1, 7)
                    then 1 end) as totCnt
        from request_info ri
        left join restdays rd
            on left(ri.create_date, 6) = right(rd.locdate, 6)
        where str_to_date(ri.create_date, '%y%m%d%H%i')
            between str_to_date(#{fromDate}, '%Y%m%d')
            and str_to_date(#{toDate}, '%Y%m%d');
    </select>

    <select id="selectMinMaxCreateDate" resultType="map">
        SELECT
            date_format(min(str_to_date(create_date, '%y%m%d%H%i')), '%Y%m%d') as fromDate,
            date_format(max(str_to_date(create_date, '%y%m%d%H%i')), '%Y%m%d') as toDate
        FROM request_info
    </select>

</mapper>