spring.application.name=statistic

server.port = 8031
server.servlet.contextPath=/

logging.level.org.springframework.web=DEBUG
logging.level.org.hibernate= ERROR

devtools.livereload.enabled=true

spring.datasource.driver-class-name=org.mariadb.jdbc.Driver
spring.datasource.url=jdbc:mariadb://localhost:3306/statistic
spring.datasource.username=root
spring.datasource.password=Mariadb!!Root1234

# Mybatis mapper
mybatis.mapper-locations= classpath:mapper/*.xml

## xml result typealias
mybatis.type-aliases-package=com.demo.comentoStatistic.dto

## OpenAPI - KAI Rest day
openapi.restday.key=eGmcqPKbqgp6j6wGmq6BbavhMh0TFTaHagz2aSxWNXqAvOZrSXGkCwONghlAevIh6d0OPAQnW%2BaYCija3FKLkg%3D%3D
openapi.restday.url=https://apis.data.go.kr/B090041/openapi/service/SpcdeInfoService
